<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
        accusamus ipsa numquam optio quaerat iste? Sed ducimus, nisi quidem
        ipsum optio a, fuga earum labore consequuntur voluptatem quo sint
        aliquam omnis veritatis tenetur non ut animi, ratione in nihil minus?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
        accusamus ipsa numquam optio quaerat iste? Sed ducimus, nisi quidem
        ipsum optio a, fuga earum labore consequuntur voluptatem quo sint
        aliquam omnis veritatis tenetur non ut animi, ratione in nihil minus?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis
        accusamus ipsa numquam optio quaerat iste? Sed ducimus, nisi quidem
        ipsum optio a, fuga earum labore consequuntur voluptatem quo sint
        aliquam omnis veritatis tenetur non ut animi, ratione in nihil minus?
      </p>
    </div>
    <%- include('./partials/foot.ejs') %>
  </body>
</html>
